### Example user template template
### PROJECT ###
/target/
/${logging.path}/
!.mvn/wrapper/maven-wrapper.jar
.local_auth_data

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
target/
${logging.path}/
.settings/*
.idea/*
.DS_Store
/logs
/log/
/logs/
application.pid

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/

### eclipse ###
.classpath
.project
.settings/
/data/
